@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #f9f7f2;
  --primary: #d9027d;
  --neutral: #a8a8a8;
  --text: #f9f7f2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-neutral: var(--neutral);
  --color-text: var(--text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
